<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>学園祭売り上げシステム</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h2>学園祭売り上げシステム</h2>
<p><a href="../item/inp_item.php">商品登録</a></p>
<p><a href="../item/dsp_item.php">商品一覧</a></p>
<p><a href="../sales/inp_sales.php">売上登録</a></p>
<p><a href="../sales/dsp_sales.php">売上表示</a></p>
<p><a href="../sales/dsp_shop_sales.php">売上午前午後</a></p>
<p><a href="../item/inp_shopitem.php">店舗商品登録</a></p>
<p><a href="../item/dsp_shopitem.php">店舗商品表示</a></p>
<p><a href="../shop/inp_shop.php">店舗登録</a></p>
<p><a href="../shop/dsp_shop.php">店舗一覧</a></p>
<p><a href="../item/products.php">予約</a></p>
<p><a href="../reserve/my_reservations.php">予約確認</a></p>
<p><a href="../student/dsp_student.php">生徒一覧</a></p>
<p><a href="../student/st_search.php">生徒検索</a></p>
</body>
</html>